# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
.contentlayer
/.contentlayer
.next
.build
/config/config.js


# production
/build
/.next

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


/config/config.js

.env.local
# Sentry Config File
.env.sentry-build-plugin
